In [36]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.optimize as opt

In [37]:
# import the 2 functions from the partioning2 script

from partitioning2 import nighttime_partitioning_simple, daytime_partitioning_simple

In [38]:
# Load data

df = pd.read_csv("C:/Users/efa206/OneDrive - University of Exeter/Desktop/for_partitioning/ZA_KRU_selected.csv", 
                 parse_dates=['datetime'], index_col='datetime')

df.head()

                          NEE         TA  PAR       VPD
datetime
2000-01-01 00:00:00  4.600187  22.914667  0.0  2.078973
2000-01-01 00:30:00  2.834529  22.814523  0.0  1.969866
2000-01-01 01:00:00  3.028469  22.714380  0.0  1.861537
2000-01-01 01:30:00  2.154160  22.484262  0.0  1.692865
2000-01-01 02:00:00  2.299391  22.254144  0.0  1.527298

In [44]:
# Run nighttime method first (can also inspect intermediate result if needed)
night_df = nighttime_partitioning_simple(df, NEE='NEE', TA='TA', PAR='PAR')

# Now run the daytime method, which builds on the nighttime result
day_df = daytime_partitioning_simple(df, NEE='NEE', TA='TA', PAR='PAR')

In [45]:
day_df.head()

                          NEE       GPP      Reco
datetime
2000-01-01 00:00:00  4.600187       NaN  2.283165
2000-01-01 00:30:00  2.834529       NaN  2.272977
2000-01-01 01:00:00  3.028469       NaN  2.262827
2000-01-01 01:30:00  2.154160  0.085489  2.239649
2000-01-01 02:00:00  2.299391       NaN  2.216673

In [46]:
night_df.head()

                          NEE       GPP      Reco
datetime
2000-01-01 00:00:00  4.600187       NaN  2.283165
2000-01-01 00:30:00  2.834529       NaN  2.272977
2000-01-01 01:00:00  3.028469       NaN  2.262827
2000-01-01 01:30:00  2.154160  0.085489  2.239649
2000-01-01 02:00:00  2.299391       NaN  2.216673

In [30]:
day_df.to_csv("C:/Users/efa206/OneDrive - University of Exeter/Desktop/partitioned_flux_output/ZA_KRU_partitioned.csv")

In [ ]:
# plot to visualize GPP and Reco

day_df[['GPP', 'Reco']].plot(figsize=(12, 4), title='Partitioned Fluxes')
plt.ylabel('Flux (µmol CO₂ m⁻² s⁻¹)')
plt.grid(True)
plt.show()

In [ ]:
night_df[['Reco', 'GPP']].plot(figsize=(12, 4), title='Partitioned Fluxes')
plt.ylabel('Flux (µmol CO₂ m⁻² s⁻¹)')
plt.grid(True)
plt.show()

In [ ]:
day_df[['GPP', 'Reco']].rolling(window=48).mean().plot(figsize=(12,5))
plt.title("Daytime Partitioning - GPP and Reco (48-point Rolling Mean)")
plt.ylabel("Flux (μmol CO₂ m⁻² s⁻¹)")
plt.xlabel("Date")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
night_df[['GPP', 'Reco']].rolling(window=48).mean().plot(figsize=(12,5))
plt.title("Nighttime Partitioning - GPP and Reco (48-point Rolling Mean)")
plt.ylabel("Flux (μmol CO₂ m⁻² s⁻¹)")
plt.xlabel("Date")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
day_df['2019-01':'2019-02'][['GPP', 'Reco']].plot()

In [ ]:
# Now that I have written and tested the partitioning code ofr BW_GUM, 
# I am just going to automate same steps for the rest of the files,
# without rewriting the code for each.

from partitioning2 import nighttime_partitioning_simple, daytime_partitioning_simple

# Directories
input_dir = r"C:\Users\efa206\OneDrive - University of Exeter\Desktop\for_partitioning"
output_dir = r"C:\Users\efa206\OneDrive - University of Exeter\Desktop\partitioned_flux_output"

# Loop through all *_selected.csv files
for file in os.listdir(input_dir):
    if file.endswith("_selected.csv"):
        site_name = file.replace("_selected.csv", "")
        print(f"Processing {site_name}...")

        # Load the data
        df = pd.read_csv(os.path.join(input_dir, file), parse_dates=["datetime"], index_col="datetime")

        # Apply partitioning functions
        night_df = nighttime_partitioning_simple(df, NEE='NEE', TA='TA', PAR='PAR')
        day_df = daytime_partitioning_simple(df, NEE='NEE', TA='TA', PAR='PAR')
        # Save the output
        out_file = os.path.join(output_dir, f"{site_name}_partitioned.csv")
        day_df.to_csv(out_file)

        print(f"Saved partitioned output for {site_name} ✅\n")