In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.optimize as opt

In [5]:
# import the 2 functions from the partioning2 script

from partitioning2 import nighttime_partitioning_simple, daytime_partitioning_simple

In [29]:
# Load data

df = pd.read_csv("C:/Users/efa206/OneDrive - University of Exeter/Desktop/for_partitioning/BW_GUM_selected.csv", 
                 parse_dates=['datetime'], index_col='datetime')

# Convert SSR to PAR (in W/m²)
# df['PAR'] = df['PAR'] * 0.45  # or 'SW_IN' if that's the name in my data


df.head()

                           NEE         TA  PAR       VPD
datetime
2018-01-01 00:00:00  -2.387104  22.674799  0.0  7.852993
2018-01-01 00:30:00  21.860305  22.527994  0.0  7.604105
2018-01-01 01:00:00  -2.823916  22.381189  0.0  7.357130
2018-01-01 01:30:00  24.560478  22.259828  0.0  7.063931
2018-01-01 02:00:00   0.516801  22.138467  0.0  6.771638

In [30]:
# Run nighttime method first (can also inspect intermediate result if needed)
night_df = nighttime_partitioning_simple(df, NEE='NEE', TA='TA', PAR='PAR')

# Now run the daytime method, which builds on the nighttime result
day_df = daytime_partitioning_simple(df, NEE='NEE', TA='TA', PAR='PAR')

day_df.head()

                           NEE       GPP      Reco
datetime
2018-01-01 00:00:00  -2.387104  4.893094  2.505989
2018-01-01 00:30:00  21.860305       NaN  2.506634
2018-01-01 01:00:00  -2.823916  5.331194  2.507279
2018-01-01 01:30:00  24.560478       NaN  2.507813
2018-01-01 02:00:00   0.516801  1.991546  2.508347

In [31]:
night_df.head()

                           NEE       GPP      Reco
datetime
2018-01-01 00:00:00  -2.387104  4.893094  2.505989
2018-01-01 00:30:00  21.860305       NaN  2.506634
2018-01-01 01:00:00  -2.823916  5.331194  2.507279
2018-01-01 01:30:00  24.560478       NaN  2.507813
2018-01-01 02:00:00   0.516801  1.991546  2.508347

In [ ]:
day_df[['GPP', 'Reco']].plot(figsize=(12, 4), title='Partitioned Fluxes')
plt.ylabel('Flux (µmol CO₂ m⁻² s⁻¹)')
plt.grid(True)
plt.show()

In [ ]:
night_df[['Reco', 'GPP']].plot(figsize=(12, 4), title='Partitioned Fluxes')
plt.ylabel('Flux (µmol CO₂ m⁻² s⁻¹)')
plt.grid(True)
plt.show()

In [34]:
day_df.to_csv("C:/Users/efa206/OneDrive - University of Exeter/Desktop/partitioned_flux_output/BW_GUM_partiotioned.csv")

In [ ]:
day_df[['GPP', 'Reco']].rolling(window=48).mean().plot(figsize=(12,5))
plt.title("Daytime Partitioning - GPP and Reco (48-point Rolling Mean)")
plt.ylabel("Flux (μmol CO₂ m⁻² s⁻¹)")
plt.xlabel("Date")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
night_df[['GPP', 'Reco']].rolling(window=48).mean().plot(figsize=(12,5))
plt.title("Nighttime Partitioning - GPP and Reco (48-point Rolling Mean)")
plt.ylabel("Flux (μmol CO₂ m⁻² s⁻¹)")
plt.xlabel("Date")
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
day_df['GPP'].describe()

In [38]:
night_df['GPP'].notna().sum()

36614

In [ ]:
day_df[['GPP', 'Reco']].plot(figsize=(12, 5), title='Daytime Partitioning - Raw GPP and Reco')

In [ ]:
day_df['2019-01':'2019-02'][['GPP', 'Reco']].plot()

In [28]:
day_df[['GPP', 'Reco']].dropna().head(10)

                           GPP      Reco
datetime
2018-01-01 00:00:00   4.931825  2.544720
2018-01-01 01:00:00   5.366026  2.542111
2018-01-01 02:00:00   2.023150  2.539951
2018-01-01 02:30:00   5.428373  2.537594
2018-01-01 03:30:00  18.154246  2.533734
2018-01-01 04:00:00   3.308368  2.532234
2018-01-01 09:00:00   4.172417  0.028716
2018-01-01 09:30:00   2.014234  0.028716
2018-01-01 10:00:00   2.797182  0.028716
2018-01-01 10:30:00   3.979962  0.028716